.login-wrapper .signup-btn {
    cursor: pointer;
    color: black;
}

.login-wrapper .signup-btn:hover {
    text-decoration: underline;
}

.input-group {
    margin: 0 0px 2em 0px;
}

.sign-up {
    letter-spacing: 2px;
    font-size: larger;
    margin-bottom: 1em;
}