.category {
    cursor: pointer;
}

.search-btn {
    background-color: var(--action);
    background-image: var(--action-bg-img);
    transition: all 300ms ease;
}

.search-btn:hover {
    background-color: var(--action-hover);
    background-image: var(--action-bg-img-hover);
}

@media (min-width:768px) {
    .search-products-wrapper {
        position: sticky;
        top: 100px !important;
        height: 40vh;
    }
}