.cart-title {
    padding: 3rem 0;
}

.order-details {
    box-shadow: 0px 1px 5px lightgray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.order-details-title {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.order-details-product {
    padding: 20px 0px;
    border-top: 1px solid lightgrey;
}

.order-details-product-img img {
    width: 70%;
}

.order-details-product-data {
    padding: 0 1rem;
    font-size: 1rem;
    justify-content: center;
}

.order-details-product-data > div:first-child {
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.order-details-product-remove {
    margin-top: 1rem;
}

.order-details-product-quantity > div:first-child {
    margin-bottom: 0.5rem;
}

.price-details {
    gap: 2rem;
    align-self: flex-start;
    position: sticky;
    top: 100px;
}

.price-details-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.394);
    text-transform: uppercase;
}

.price-details-item {
    padding: 10px 0px;
    font-size: 20px;
}

.price {
    border-top: 1px solid rgba(128, 128, 128, 0.394);
    padding-top: 15px;
    font-size: x-large;
    font-weight: 500;
}


.price-details-box {
    box-shadow: 0px 1px 5px lightgray;
    border-radius: 10px;
    padding: 20px;
}

.continue-shopping-btn {
    color: white !important;
    background-color: #27b774 !important;
    margin-right: 5px;
    margin: 5px;
}

.continue-shopping-btn:hover {
    background-color: #20955e !important;
}

.checkout-btn {
    margin: 5px;
}

.btn {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); 
}