.header .navbar{
    background-color: white;
}

.welcome {
    padding: 2rem;
    letter-spacing: 0.5rem;
}

.logo:hover {
    transform:rotateZ(20deg);
}

.btn {
    outline: none;
    border: none;
    box-shadow: none;
}
.btn:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

.user-name {
    color: #000;
    font-size: larger;
    letter-spacing: 1px;
}