.categories a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 18px;
    display: block;
    background-color: var(--cloudy);
    margin-bottom: 2px;
    border-radius: 2px;
    font-weight: 500;
    box-shadow: none;
}

.categories a:hover {
    box-shadow: 2px 2px 4px gainsboro;
    text-decoration: none;
    background-color: #c9e4f7;
}